<!DOCTYPE html>
<html>
<head>
	<title>kurtroberts.net</title>
	<link type="text/css" rel="stylesheet" href="/styles/main.css" />
	<link href='http://fonts.googleapis.com/css?family=Lato:300,700|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
	<script src="/external/jquery/dist/jquery.js"></script>
	<script src="/external/modernizer/modernizr.js"></script>
</head>
<body>
	<header>
		<a href="#footer"><img src="/images/menu.svg" id="menuicon" /> </a>
		<a href="/"><img src="/images/home.svg" id="homeicon" /> kurtroberts.net</a>
		<%- partial("partials/_menuitems") %>
	</header>
	<%- yield %>
	<a name="footer"></a>
	<footer>
		<a href="/">&copy; kurtroberts.net</a>
		<%- partial("partials/_menuitems") %>
	</footer>
	<script src="js/rrssb.min.js"></script>
</body>
</html>