<h1>Contact</h1>

<p>I'm thrilled this site was enough to convince you to reach out to me.</p>


<p>The easiest way to get in touch is through one of the social channels below.  Or reach out to me at <a href="http://rp3agency.com/">RP3</a>.</p>

<div class="social-icons">
	<a href="http://twitter.com/kurtroberts" class="pure-button"><span class="socicon socicon-twitter"></span></a>
	<a href="http://linkedin.com/kurtroberts" class="pure-button"><span class="socicon socicon-linkedin"></span></a>
	<a href="http://instagram.com/kurtproberts" class="pure-button"><span class="socicon socicon-instagram"></span></a>
	<a href="http://pinterest.com/kurtproberts" class="pure-button"><span class="socicon socicon-pinterest"></span></a>
	<a href="http://github.com/kurtproberts" class="pure-button"><span class="socicon socicon-github"></span></a>
</div>