<h1>behind the scenes.</h1>
<p>This site is about what I do, not about what I've done or what I'm doing.  I've put together this site to collect all the random bits of my work that don't fit neatly into my professional or personal life.</p>

<p>Blog is a superset of my collected writing from other outlets, such as <a href="http://rp3agency.com/">RP3 Agency</a> and published articles like on Digiday.  Work is more complete sets of artifacts, usually backing a particular project. Contact should be self-explanatory.</p>



<%-  partial("partials/_postlist", { show: 5}) %>