#postList {
	a:hover {
		text-decoration: none;
		
	}
}
.post-banner {
	width: 100%;
	min-height: 200px;
	padding-top: 100px;
	h1, p {
		color: white;
		margin-bottom: 0;
	}
}

@media (min-width: 600px) {

	.post-banner h1::after {
		content: "»";
		position: absolute;
		color: white;
		left: 75%;
		font-size: 50px;
	}
	
}


.row0 {
	background: $color1;
}
.row1 {
	background: $color2;
}
.row2 {
	background: $color3;
}
.row3 {
	background: $color4;
}
.row4 {
	background: $color5;
}