@import "reset";

//palette
//$links : rgb(231, 60, 48);

$links : #02BEDF;

//$color1 : #00E078;

$color1 : #6FFF00;
$color2 : #FF7800;
$color3 : #579DF5;
$color4 : #02BEDF;
$color5 : #00D2FF;



body{
	padding: 0;
	background: #fff;
	color: #111;
	margin: 0;
	font-family: 'Lato', sans-serif;
	
}

h1, h2, h3, h4, h5, h6, p, ul, ol, pre {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
}


blockquote {
	width: 100%;
	padding: 20px 10%;
	background: $color3;
	color: #fff;
	margin-bottom: 25px;
	font-size: 1.7em;
	p {
		margin-bottom: 0;
	}
}



@import "type";

@import "articlelist";


header {
	background: #111;
	margin-bottom: 20px;
	
}
#homeicon {
	width: 50px;
	margin-left: 20px;
}




footer {
	background: #111;
	color: $links;
	border-top: 1px solid #aaa;
	padding-top: 30px;
	
}