<div id="postList">
<% var j = 0; for (var i in public.posts._data) { j++; %>

	<a href="/posts/<%= i  %>.html"><div class="post-banner row<%= j%5 %> "><h1><%= public.posts._data[i].title  %></h1></div></a>

<% } %>
</div>